/* Animation */
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 2rem;
  color: #333;
  max-width: 50%;
  word-break: break-word;
  line-height: 2rem;
  text-align: center;
  flex: 1;
  font-weight: 500;
}

.loading-overlay-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
}

$ring-size: 250px;
$logo-size: $ring-size + calc($ring-size/2);

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &:before {
    position: absolute;
    left: 1%;
    top: 20%;
    right: 0;
    bottom: 0;
    content: " ";
    background-image: url(https://covid19forecasthub.eu/images/logo.svg);
    background-size: $logo-size;
    background-repeat: no-repeat;
    // opacity: 0.85;
    background-position: top;
  }

  .space-y-33 {
    flex: 0 0 33%;
    height: 33%;
  }

  .space-y-25 {
    flex: 0 0 25%;
    height: 25%;
  }

  .space-y-10 {
    flex: 0 0 10%;
    height: 10%;
  }

  // .space-x{

  // }

  .loading-animation {
    position: relative;
    flex: 1;
    width: 50%;

    min-width: $ring-size;
    min-height: $ring-size;

    margin-bottom: calc($ring-size/3);


    .ring1 {
      svg {
        fill: #003a804d !important;
      }
    }

    .ring2 {
      svg {
        fill: #003a804d !important;
      }
    }

    .loading__ring {
      position: absolute;
      width: $ring-size;
      height: $ring-size;
      left: calc(50% - #{calc($ring-size / 2)});
      top: calc(50% - #{calc($ring-size / 2)});

      &:first-child {
        transform: skew(30deg, 20deg);
      }

      &:last-child {
        transform: skew(-30deg, -20deg) scale(-1, 1);

        svg {
          animation-delay: -0.5s;
        }
      }

      svg {
        animation: rotate 1s linear infinite;
        fill: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
